@model IEnumerable<Kosarka_ITivity_Dejan_Savanovic.Models.IgracViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<button type="button" class="btn btn-primary" id="btnKreirajIgraca">
    Create New
</button>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Ime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prezime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DatumRodjenja)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Drzava)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GradNaziv)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimNaziv)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PozicijaSkraceno)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prezime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatumRodjenja)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Drzava)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GradNaziv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimNaziv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PozicijaSkraceno)
            </td>
            <td>
                <a href="#Edit" data-igracID="@item.IgracID" class="btnEdit">Azuriraj</a>
            </td>
        </tr>
    }

</table>

<!-- Modal -->
<div class="modal fade" id="modalIgracCreate" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Kreiraj igraca</h5>
                <button type="button" class="close" id="btnClose1" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modalTijeloCreate">
            </div>
            <div class="col">
                <div class="row">
                    <button type="button" class="btn btn-secondary col-6" data-dismiss="modal">Zatvori</button>
                    <button type="button" class="btn btn-primary col-6" id="btnSacuvaj">Sacuvaj</button>
                </div>
            </div>


        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalIgracEdit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Azuriraj igraca</h5>
                <button type="button" class="close" id="btnClose2" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modalTijeloEdit">
            </div>
            <div class="col">
                <div class="row">
                    <button type="button" class="btn btn-secondary col-6" data-dismiss="modal">Zatvori</button>
                    <button type="button" class="btn btn-primary col-6" id="btnAzuriraj">Azuriraj</button>
                </div>
            </div>

        </div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/Igrac/igracKontroler.js"></script>
}

