@model IEnumerable<Kosarka_ITivity_Dejan_Savanovic.Models.UcinakIgracaViewModel>

@{ 

<div class="container pt-3 pb-3">

    <div class="row mt-3">

        <div class="col-6">
            <p>Trener: @ViewBag.Trener</p>
        </div>

        <div class="col-6">
            <button id="btnDodajUcinakIgraca" class="btn btn-secondary float-right btn-dodaj-igraca">DODAJ IGRACA</button>
        </div>
    </div>

    <table class="table table-bordered table-responsive-md table-responsive-lg table-responsive-xl">

        <thead>

            <tr>
                <th scope="col">#</th>
                <th scope="col">Igrac</th>
                <th scope="col">Pozicija</th>
                <th scope="col">Min</th>
                <th scope="col">Pts</th>
                <th scope="col">2FG</th>
                <th scope="col">3FG</th>
                <th scope="col">FT</th>
                <th scope="col">Skokovi</th>
                <th scope="col">Asistencije</th>
                <th scope="col">Ukradene</th>
                <th scope="col">Izgubljene</th>
                <th scope="col">Faulovi</th>
                <th scope="col">Operacije</th>
            </tr>

        </thead>

        @foreach (var item in Model)
        {

            <tr>
                <td scope="row">@item.BrojDresa</td>
                <td scope="row"><a style="color:#DF691A;font-weight:bold" href="@Url.Action("Detail", "Igrac", new { igracID = item.IgracID})">@item.ImeIPrezime</a></td>
                <td scope="row">@item.Pozicija</td>
                <td scope="row">@item.BrojMinuta</td>
                <td scope="row">@item.Poeni</td>
                <td scope="row">@item.PogodjenihDvojki/@item.UkupnoDvojki</td>
                <td scope="row">@item.PogodjenihTrojki/@item.UkupnoTrojki</td>
                <td scope="row">@item.PogodjenihSlobodnihBacanja/@item.UkupnoSlobodnihBacanja</td>
                <td scope="row">@item.Skokovi</td>
                <td scope="row">@item.Asistencije</td>
                <td scope="row">@item.UkradeneLopte</td>
                <td scope="row">@item.IzgubljeneLopte</td>
                <td scope="row">@item.Faulova</td>
                <td scope="row"><i data-ucinakIgraca="@item.UcinakIgracaID" class="fas fa-user-edit fa-lg ucinakIgracaEdit"></i> <i data-ucinakIgraca="@item.UcinakIgracaID" data-timID="@item.TimID" class="fas fa-trash fa-lg ucinakIgracaDelete ml-3"></i></td>
            </tr>

        }

    </table>

</div>


}
