@model Kosarka_ITivity_Dejan_Savanovic.Models.UtakmicaDetaljiViewModel

@{
    ViewBag.Title = "Index";
}

<div class="container">

    <div class="bg-dark">


        <div class="container">

            <div class="row mt-4">
                <div class="col-12">
                    <i data-utakmicaID="@Model.UtakmicaID" data-koloID="@Model.KoloID" class="fas fa-trash fa-lg float-right utakmicaDelete"></i>
                    <i data-utakmicaID="@Model.UtakmicaID" data-koloID="@Model.KoloID" class="fas fa-edit fa-lg float-right mr-2 utakmicaEdit"></i>
                </div>
            </div>
            <div class="row mt-0">
                <div class="col-4">
                    <img src='@Url.Action("GetImage", "Pocetna", new { id = Model.DomaciTimSlikaID })' height="150" class="center-element" />
                </div>
                <div class="col-4">
                    <div style="height:160px">
                        <div class="center-element">
                            <p class="h5 center-element pb-5 mb-5">@Model.DatumOdigravanja.ToString("dd.MM.yyyy")</p>
                            <p class="h4 pb-0 mt-3"><span style="color:#DF691A">@Model.PoeniDomaciTim</span>&nbsp;&nbsp;:&nbsp;&nbsp;<span style="color:#DF691A">@Model.PoeniGostujuciTim</span></p>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <img src='@Url.Action("GetImage", "Pocetna", new { id = Model.GostujuciTimSlikaID })' height="150" class="center-element" />
                </div>
            </div>
            <div class="row">
                <p class="col-4 text-center h5" style="color:#DF691A">@Model.DomaciTimNaziv</p>
                <p class="col-4"></p>
                <p class="col-4 text-center h5" style="color:#DF691A">@Model.GostujuciTimNaziv</p>
            </div>

        </div>



    </div>

    <div class="bg-dark mt-3 pt-2">
       
        <div class="row">

            <div class="col-6 pt-3">

                <p class="pl-4">Dvorana: @Model.Stadion</p>
                <p class="pl-4">Broj gledalaca: @Model.BrojGledalaca</p>

            </div>

            <div class="col-6">

                <table class="table table-bordered col-11 mt-2">
                    <thead>
                        <tr>
                            <th scope="col" class="text-center">1QT</th>
                            <th scope="col" class="text-center">2QT</th>
                            <th scope="col" class="text-center">3QT</th>
                            <th scope="col" class="text-center">4QT</th>
                            <th scope="col" class="text-center">OT</th>
                        </tr>
                    </thead>
                    <tbody>
                         <tr class="">
                                <td scope="row" class="p-0 text-center" ><span style="@(Model.PoeniPrvaCetvrtina > Model.GostiPrvaCetvrtina?"color:#DF691A;font-weight:bold":"")">@Model.PoeniPrvaCetvrtina</span> <br /> <span style="@(Model.GostiPrvaCetvrtina > Model.PoeniPrvaCetvrtina?"color:#DF691A;font-weight:bold":"")">@Model.GostiPrvaCetvrtina</span></td>
                                <td scope="row" class="p-0 text-center" ><span style="@(Model.PoeniDrugaCetvrtina > Model.GostiDrugaCetvrtina?"color:#DF691A;font-weight:bold":"")">@Model.PoeniDrugaCetvrtina</span><br /> <span style="@(Model.GostiDrugaCetvrtina > Model.PoeniDrugaCetvrtina?"color:#DF691A;font-weight:bold":"")">@Model.GostiDrugaCetvrtina</span></td>
                                <td scope="row" class="p-0 text-center" ><span style="@(Model.PoeniTrecaCetvrtina > Model.GostiTrecaCetvrtina?"color:#DF691A;font-weight:bold":"")">@Model.PoeniTrecaCetvrtina</span><br /> <span style="@(Model.GostiTrecaCetvrtina > Model.PoeniTrecaCetvrtina?"color:#DF691A;font-weight:bold":"")">@Model.GostiTrecaCetvrtina</span></td>
                                <td scope="row" class="p-0 text-center" ><span style="@(Model.PoeniCetvrtaCetvrtina > Model.GostiCetvrtaCetvrtina?"color:#DF691A;font-weight:bold":"")">@Model.PoeniCetvrtaCetvrtina</span><br /><span style="@(Model.GostiCetvrtaCetvrtina > Model.PoeniCetvrtaCetvrtina?"color:#DF691A;font-weight:bold":"")"> @Model.GostiCetvrtaCetvrtina</span></td>
                                <td scope="row" class="p-0 text-center" ><span style="@(Model.PoeniProduzetak > Model.GostiProduzetak?"color:#DF691A;font-weight:bold":"")">@Model.PoeniProduzetak</span><br /> <span style="@(Model.GostiProduzetak > Model.PoeniProduzetak?"color:#DF691A;font-weight:bold":"")">@Model.GostiProduzetak</span></td>
                            </tr>

                    </tbody>
                </table>

            </div>

        </div>

    </div>

    <div class="bg-dark mt-3 pt-0">

        <div class="container">

            <div class="row">

                <div class="col-6 p-2" id="btnDomaci" data-utakmicaID="@Model.UtakmicaID" data-timID="@Model.DomaciTimID">
                    <p class="col-12 p-0 m-0 text-center">@Model.DomaciTimNaziv.ToUpper()</p>
                </div>

                <div class="col-6 p-2" id="btnGosti" data-utakmicaID="@Model.UtakmicaID" data-timID="@Model.GostujuciTimID">
                    <p class="col-12 p-0 m-0 text-center">@Model.GostujuciTimNaziv.ToUpper()</p>
                </div>


            </div>

            <div class="bg-dark" id="prikazIgraca">

            </div>

        </div>
        
    </div>

</div>

@section scripts{
    <script src="~/Scripts/Utakmica/tabUcinakIgraca.js"></script>    
}