@model Kosarka_ITivity_Dejan_Savanovic.Models.UtakmicaViewModel

<div>
    @Html.DisplayFor(model => model.DatumOdigravanja)
    @Html.DisplayFor(model => model.DomaciTim)
    @Html.DisplayFor(model => model.PoeniDomaciTim)
    @Html.DisplayFor(model => model.PoeniGostujuciTim)
    @Html.DisplayFor(model => model.GostujuciTim)
    @Model.KoloID
</div>

